# ==== Google Cloud SDK ====
google-cloud-storage
google-cloud-documentai
google-api-core
functions-framework

# ==== 開発補助====
flask
gunicorn
# ==== Vertex AI ====
vertexai
google-cloud-aiplatform

# ==== その他 ====
requests
python-dotenv